.DottedBox {
    margin: 40px;
    border: 5px dotted pink;
  }
  .DottedBox_content {
    font-size: 15px;
    text-align: center;
  }
  .list-container {
      height: 90vh;
      overflow-y: scroll;
      overflow-x: unset;
  }
    .list-container-footer {
        height: 50vh;
        overflow-y: scroll;
        overflow-x: unset;
    }
    .card-full{
        height: 90vh;
    }
  .mw-rem18{
      max-width: 18rem;
  }